body{
    background-image: url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 20;
    display: flex;
    align-items:center;
    justify-content:center;

}
.container{
    width:750px;
    height:430px;
    margin:200 auto;
    text-align:center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*glass effect*/
.glass{
    background: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-background-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgpa(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);

}

