body{
    background-image: url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 20;
    display: flex;
    align-items:center;
    justify-content:center;

}

.container h1{
    text-align: center;
}


.container{
    width:750px;
    height:430px;
    margin:200 auto;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*glass effect*/
.glass{
    background: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);

}

.ekaboksi{
    position: bottom;
    width: 200px;
    height: 100px;
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-color: grey;
    border-radius: 20px;
    left: 10px;
}

.tokaboksi{
    position: bottom;
    width: 200px;
    height: 100px;
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-color: grey;
    border-radius: 20px;
    left: 10px;
}

.kolmasboksi{
    position: bottom;
    width: 200px;
    height: 100px;
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-color: grey;
    border-radius: 20px;
    left: 10px;
}

